*{
    margin: 0;
    padding: 0;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color:#0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border:hover{
    border: 2px solid white;
}
.nav-logo{
    background-image: url(./images/logo.png);
    background-size: cover;
    background-position: center center;
    height: 40px;
    width: 110px;

}

.nav-add{
    color: white;
}

.add-first{
    font-size: 0.8rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 0.9rem;
}

.nav-search{
    background-color: white;
    color:black;
    width: 630px;
    height: 40px;
    display: flex;
    border-radius:4px
}
.nav-search:hover{
    border: 2px solid rgb(230, 180, 16);
}
.nav-select{
    background-color: #ffffff;
    font-size: 0.8rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.nav-input{
    width:100%;
    border: none;
}
.search-logo{
    height: 40px;
    width: 30px;
    color: black;
   background-color:rgb(230, 180, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-signin{
    color: white;
    font-size: o.6rem;
}
span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.9rem;
}
.nav-return{
    color: white;
}

.nav-cart{
    color: white;
}
.nav-cart i{
    font-size: 35px;
}

.nav-option{
    height: 40px;
    color: white;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-message{
    width: 950px;
}

.nav-message li{
    display:inline-block;
    margin-left: 20px;
}

.hero-section{
    height: 400px;
     background-image: url(./images/heroimage.jpg);
     background-size: cover;
     display: flex;
     justify-content: center;
}

/** Shop Section **/
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #838a85;

}
.box{
    height: 420px;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;
    background-color: white;
}
.gaming-box{
    margin-left: 1rem;
    margin-right: 1rem;

}

.gaming-image{
    height: 350px;
    background-size: cover; 
     background-repeat: no-repeat;
   background-position: center center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
}
 .box-contant{
   margin-left: 1rem;
    margin-right: 1rem;
} 

.go-back{
    height: 50px;
    background-color: #0f1111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.go-back a{
    color: white;
}
.main-footer{
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul li{
    list-style: none;
    line-height: 25px;
}
.main-footer h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.last-footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
   border-top: 1px solid white;
} 

.foot-logo{
    /* padding-top: 20px; */
    height: 30px;
    width: 100px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-color: #333333;
    align-items: center;
}
.last-footer p{
    margin-left: 40px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}


